<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="http://www....">Home</a></li>
				<li><a href="http://www....">Questions</a></li>
				<li><a href="http://www....">News</a></li>
				<li><a href="http://www....">Contact</a></li>
			</ul>
			<div id="time">
				<table>
					<tr>
						<td>Date: </td>
						<td><%= time1 = Time.now.strftime("%d/%m/%Y") %>
						<%= puts time1 %></td>
					</tr>
					<tr>
						<td>Time: </td>
						<td><%= time2 = Time.now.strftime("%H:%M") %>
						<%= puts time2 %></td>
					</tr>
				</table>
			</div>

		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
